/*
body {
  background-image: url('../img/bg-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
*/
body
{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#one
{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin-right: 200px;
    font-size: 25px;
}

.heading
{
  margin: 0px;
  font-size: 85px;
  font-weight: bold;
  color: #ccffb3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 10px;
  letter-spacing: 5px;
  text-shadow: black 5px 5px;
}
#buttn
{
    height: 40px;
    width: 140px;
    font-weight: bold;
    margin-right: 20px;
}

.image {
    background-image: url("./img/bg-image.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(0px);
    margin-bottom: 20px;
  }
  .text {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 450px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    height: 225px;
    background-color: blueviolet;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
  }
  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  html,body {
    margin: 0;
    padding: 0;
  }
  .slider {
    /*
    width: 1024px;
    margin: 2em auto;
    */
    width: 100%;

  }
  
  .slider-wrapper {
    width: 100%;
    height: 600px;
    position: relative;
  }
  
  .slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
  }
  
  .slider-wrapper > .slide:first-child {
    opacity: 1;
  }

/*2nd Automatic Slideshow */

  .mySlides {display:none;}


/*Modal Images*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}


/* Register Form */
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

#buttn1
{
  width: 50%;
  height: 100px;
}
#buttn2
{
  width: 50%;
  height: 100px;
}
